html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  color: #f1f6f2;
  background-color: #212121;
  font-family: "Times New Roman", Times, serif, "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.noSpacing {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 3em;
  padding-left: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #7fc;
  color: #2600dd;
}

.header .separator {
  width: 8px;
  height: 100%;
}

.header small {
  padding-top: 1em;
}

main section {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputArea {
  display: grid;
  width: 100%;
  margin-bottom: 1em;
  gap: 0.5em;
}

#initialInputArea textarea {
  height: 35vh;
}

textarea {
  justify-self: center;
  width: 93vw;
  resize: vertical;
}

#keyInputArea {
  grid-auto-flow: column dense;
  height: 2em;
  align-items: center;
}

#keyInputArea input {
  width: 80vw;
  height: 75%;
}

#separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 0.5em 0;
  position: absolute;
  left: 0;
  overflow-wrap: break-word;
}
